.billhead__header__title {
  max-width: 480px;
}

.billhead__header__title:after{
content: '|';
margin-left: 5px;
opacity: 1;
animation: effect .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes effect{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}
