.thinker-container {
  @include flex-center;
  width: 100%;
  height: $section-height + map-get($header-size-menu-desktop, 'y');

  &__text {
    line-height: 35px;

    &__phrase {
      @include text-pattern();
    }

    &__author {
      text-align: right;
    }
  }
}
