.character-container {
  @include set-background-color('gray-light-color');
  height: $section-height + map-get($header-size-menu-desktop, 'y');
  color: map-get($colors, 'black-color');
  font-family: 'Futura';
  text-align: center;
  line-height: 100px;
  width: 100%;

  &__itens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 80%;

    &__card {
      @include set-background-color('white-color');
      @include set-text-color('black-color');
      border-radius: 20px;
      width: 300px;
      height: 450px;
      line-height: 20px;
      box-shadow:
        40px 40px 63px -12px rgba(0, 0, 0, 0.38);

      h2 {
        margin-top: 20px;
      }

      p {
        font-size: 14px;
        padding: 30px;
        text-align: justify;
      }
      
      img {
        width: 300px;
        border-radius: 20px 20px 0px 0px;
      }
    }
  }
}
