.informative-container {
  @include set-background-color('gray-light-color');
  @include flex-center();
  height: $section-height + map-get($header-size-menu-desktop, 'y');
  flex-direction: column;

  h2 {
    padding-top: 20px;
  }

  p {
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
    width: 60%;
  }

  &__videos {
    @include width-height(100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
