// usado para body de textos
@font-face {
  font-display: swap;
  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/futura/futura.ttf') format('ttf');
}

// usado para title de textos
@font-face {
  font-display: swap;
  font-family: 'Gotham Black';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/gotham/Gotham-Black.otf');
}
