$variable-prefix: '';

// todas as cores do app
$colors: (
  'background-menu-color': #121214,
  'text-normal-menu-color': #737380,
  'white-color': #fff,
  'water-green-color': #26F0F1,
  'light-green-color': #77ACA2,
  'dark-blue-color': #284B63,
  'steel-teal-color': #658e9c,
  'black-color': black,
  'gray-light-color': #d3d3d3
);

// tamanhos de fonte
$font-sizes: (
  xl: 30px,
  lg: 24px, 
  md: 20px, 
  b: 16px, 
  sm: 14px, 
  xs: 12px, 
);

// default sizes de fonte para titulo
$h1-font-size: map-get($font-sizes, xl);
$h2-font-size: map-get($font-sizes, lg);
$h3-font-size: map-get($font-sizes, md);
$h4-font-size: map-get($font-sizes, b);
$h5-font-size: map-get($font-sizes, sm);
$h6-font-size: map-get($font-sizes, xs);

// pontos de quebra para responsividade
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$font-family-sans-serif: 'Helvetica Neue', sans-serif;
$font-family-serif: Times, 'Times New Roman', serif;

$header-size-menu-desktop: (
  'x': 100%,
  'y': 68.6px
);

$section-height: 567px + 1px;
