.agende-container {
  @extend .billhead;

  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url('/images/agendando-consulta.jpg') no-repeat;
  background-position: center;
  background-size: cover;

  &__text {
    width: 50%;
  }
}

.contact {
  position: relative;
  top: 220px;
  height: $section-height + map-get($header-size-menu-desktop, 'y');

  &__form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    > label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      display: flex;

      > input {
        background-color: rgba(128, 128, 128, 0.445);
        padding-left: 8px;
        font-family: 'Futura';
        width: 80%;
        line-height: 35px;
        border-style: none;
        margin-top: 10px;
        border-radius: 10px;
      }
    }
  }

  .btn-submit {
    @extend .billhead__header__button;
    @include set-background-color('black-color');
    color: map-get($colors, 'white-color');
    cursor: pointer;
  }

  .btn-submit:hover {
    @include set-background-color('water-green-color');
    @include set-text-color('black-color');
  }
}
