.depoiments-container {
  @extend .billhead;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url('/images/que-usuarios-dizem-sobre-nos.jpg') no-repeat;
    background-position: center;
    background-size: cover;

    &__text {
      width: 40%;
    }
}
